/* General styles */

@font-face
{
    src: url('./fonts/SpaceGrotesk-VariableFont_wght.ttf');
    font-family: 'Space Grotesk';
}

:root
{
    --mobile-width: 375px;
    --desktop-width: 1440px;
    /* Primary colors */
    --primary-gradient: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --error: hsl(0, 100%, 66%);
    /* Neutral colors */
    --white: hsl(0, 0%, 100%);
    --grayish-violet-light: hsl(270, 3%, 87%);
    --grayish-violet-dark: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);

    /* Typography */
    --default-font-size: 18px;
    --main-font-family: 'Space Grotesk';
    --main-weight: 500;

    /* Images */
    --card-x: 447;
    --card-y: 245;
    --card-width: 447px;
    --card-height: 245px;
    --card-offset: 60px;

    /* Inputs */
    --input-opacity: 0.4;
    --outline-width: 2px;

    /* Animations */
    --fade-in-from-side-timing: 0.6s;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: var(--default-font-size);
}

body
{
    /* font-size: var(--default-font-size); */
    font-family: var(--main-font-family);
    font-variation-settings: 'wght' var(--main-weight);
    min-height: 100vh;
    display: grid;
    grid: 50% 50% / 100%;
    overflow-x: hidden;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-evenly; */
}

button
{
    cursor: pointer;
    letter-spacing: 2px;
    font-family: var(--main-font-family);
    font-size: var(--default-font-size);
}

.fset-borderless
{
    border: none;
}

.display-none
{
    display: none !important;
}

/* Mobile styles */
/* General card styles*/
.graphic
{
    position: relative;
    background-image: url('./images/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-size: 100% 80%;
    min-height: 275px;
}

.card
{
    position: absolute;
    background-size: cover;
    aspect-ratio: var(--card-x) / var(--card-y);
    /* width: 262.5px; */
    width: 70%;
    max-width: 300px;
    min-width: 250px;
    background-repeat: no-repeat;
    /* border-radius: 8px; */
    color: var(--white);
}

.card-front
{
    background-image: url('./images/bg-card-front.png');
    top: 40%;
    left: calc(50% - var(--card-width) / 2 + var(--card-offset));
    z-index: 1;
}

.card-back
{
    background-image: url('./images/bg-card-back.png');
    top: 15%;
    right: calc(50% - var(--card-width) / 2 + var(--card-offset));
    /* z-index: 0; */
}

/* Card front styles */
.card-front:before
{
    content: '';
    width: 26px;
    height: 26px;
    opacity: 0.9;
    border-radius: 50%;
    background-color: var(--white);
    position: absolute;
    top: 12%;
    left: 8%;
}

.card-front:after
{
    content: '';
    width: 12px;
    height: 12px;
    opacity: 0.9;
    border-radius: 50%;
    border: 1px solid var(--white);
    position: absolute;
    top: 17%;
    left: 21%;
}

.line
{
    width: max-content;
}

.top-line
{
    position: absolute;
    top: 50%;
    left: 8%;
    /* transform: translateX(-50%); */
    letter-spacing: 1px;
}

.bottom-line
{

    text-shadow: 0px 0px 10px hsl(278, 68%, 11%);
    opacity: 0.85;
    text-transform: uppercase;
}

.bottom-line :first-child
{
    position: absolute;
    bottom: 13%;
    left: 8%;
    font-size: 10px;
}

.bottom-line :nth-child(2)
{
    position: absolute;
    bottom: 13%;
    right: 8%;
    font-size: 10px;
}

/* Card back styles */

.card-back :first-child
{
    font-size: 10px;
    position: absolute;
    top: 44%;
    right: 14%;
}

/* Form styles */
::placeholder
{
    opacity: var(--input-opacity);
}

.card-input,
.card-input form
{
    display: grid;
}

.card-input
{
    max-width: min(85%, 600px);
    margin: auto;
    gap: 0.6rem;
}

.card-input form
{
    grid-template-columns: 55% 45%;
    grid-template-rows: repeat(4, 84px);
    row-gap: 1rem;
}

.card-input label,
.card-input legend
{
    text-transform: uppercase;
}

.card-input input
{
    display: block;
    margin-top: 0.5rem;
    padding: 14px;
    border: 1px solid rgba(0, 0, 0, var(--input-opacity));
    border-radius: 0.3rem;
}

.card-input *
{
    grid-column: span 2;
    width: 100%;
}

#mm-yy,
#cvc-label
{
    grid-column: span 1;
}

#mm-yy
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50% 50%;
}

#mm-yy input
{
    font-size: 18px;
    grid-column: span 1;
    width: 90%;
}

.card-input button
{
    background-color: var(--very-dark-violet);
    color: var(--white);
    border-radius: 0.5rem;
    height: 54px;
    font-size: 16px;
    letter-spacing: 1px;
    border: none;
    margin: auto;
}

.card-input input:focus-visible
{
    /* border: none; */
    outline: var(--outline-width) solid hsl(249, 99%, 64%);
}

.card-input input:invalid:not(:focus-visible):not(:placeholder-shown)
{
    outline: var(--outline-width) solid red;
}

.card-input input:valid
{
    outline: var(--outline-width) solid green;
}

/* Confirmation styles */
#confirmation
{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    text-align: center;
}

#confirmation h3
{
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--very-dark-violet);
}

#confirmation h4
{
    color: var(--grayish-violet-dark);
    font-weight: 400;
    opacity: 0.8;
    margin-bottom: 1.5rem;
}

#confirmation .checkmark
{
    position: relative;
    background-image: var(--primary-gradient);
    width: 90px;
    height: 90px;
    clip-path: circle(50%);
    margin: 2rem auto 1rem auto;
}

#confirmation .checkmark::before
{
    content: '';
    position: absolute;
    background: linear-gradient(90deg, var(--white) 50%, 50%, transparent 100%);
    width: 12px;
    height: 3px;
    transform: translate(calc(-50% - 6px), 51px) rotateZ(45deg);
    animation: fade-in-from-side var(--fade-in-from-side-timing) linear forwards;
    background-position: right;
    background-size: 200% 100%;
}

#confirmation .checkmark::after
{
    content: '';
    position: absolute;
    background: linear-gradient(90deg, var(--white) 50%, 50%, transparent 100%);
    width: 26px;
    height: 3px;
    transform: translate(-7px, 46px) rotateZ(-45deg);
    animation: fade-in-from-side var(--fade-in-from-side-timing) linear forwards var(--fade-in-from-side-timing);
    background-position: right;
    background-size: 200% 100%;
}

/* Footer styles */
.attribution
{
    margin-block: auto 1rem;
}

.attribution a
{
    font-size: inherit;
}

@keyframes fade-in-from-side
{
    100%
    {
        /* background-color: var(--white); */
        /* background-color: red; */
        background-position: left;
    }
}

/* Media queries - Desktop 1440px and up */

@media (min-width: 1440px)
{
    body
    {
        /* color: red; */
        grid: 100% / 50% 50%;
    }

    .graphic
    {
        background-size: 100% 100%;
    }
}