/* General styles */

@font-face
{
    src: url('./fonts/SpaceGrotesk-VariableFont_wght.ttf');
    font-family: 'Space Grotesk';
}

:root
{
    --mobile-width: 375px;
    --desktop-width: 1440px;
    /* Primary colors */
    --primary-gradient: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --error: hsl(0, 100%, 66%);
    /* Neutral colors */
    --white: hsl(0, 0%, 100%);
    --grayish-violet-light: hsl(270, 3%, 87%);
    --grayish-violet-dark: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);

    /* Typography */
    --default-font-size: 18px;
    --main-font-family: 'Space Grotesk';
    --main-weight: 500;
}

*
{
    padding: 0;
    margin: 0;
}

body
{
    font-size: var(--default-font-size);
    font-family: var(--main-font-family);
    font-variation-settings: 'wght' var(--main-weight);
    min-height: 100vh;
    display: grid;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-evenly; */
}

/* General card styles*/
.graphic
{
    position: relative;
    background-image: url('./images/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.card
{
    position: absolute;
    background-size: cover;
    aspect-ratio: 447 / 245;
    width: 262.5px;
    background-repeat: no-repeat;
    /* border-radius: 8px; */
    color: var(--white);
}

.card-front
{
    background-image: url('./images/bg-card-front.png');
    top: 50%;
    left: 5%;
    z-index: 1;
}

.card-back
{
    background-image: url('./images/bg-card-back.png');
    top: 25%;
    right: 5%;
    /* z-index: 0; */
}

/* Card front styles */
.card-front:before
{
    content: '';
    width: 26px;
    height: 26px;
    opacity: 0.9;
    border-radius: 50%;
    background-color: var(--white);
    position: absolute;
    top: 12%;
    left: 8%;
}

.card-front:after
{
    content: '';
    width: 12px;
    height: 12px;
    opacity: 0.9;
    border-radius: 50%;
    border: 1px solid var(--white);
    position: absolute;
    top: 17%;
    left: 21%;
}

.line
{
    width: max-content;
}

.top-line
{
    position: absolute;
    top: 50%;
    left: 8%;
    /* transform: translateX(-50%); */
    letter-spacing: 1px;
}

.bottom-line
{
    font-size: 10px;
    text-shadow: 0px 0px 10px hsl(278, 68%, 11%);
    opacity: 0.85;
    text-transform: uppercase;
}

.bottom-line :first-child
{
    position: absolute;
    bottom: 13%;
    left: 8%;
}

.bottom-line :nth-child(2)
{
    position: absolute;
    bottom: 13%;
    right: 8%;
}

/* Card back styles */

.card-back :first-child
{
    font-size: 10px;
    position: absolute;
    top: 44%;
    right: 14%;
}